@import "../../node_modules/@fullcalendar/core/main.css";
@import "../../node_modules/@fullcalendar/daygrid/main.css";

body {
  height: 100vh;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider {
  height: 100vh;
}

.ant-layout-footer {
  margin: 8px 0;
  padding: 0;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
  margin: 10px 15px 0 0;
}

.header-btn {
  margin: 15px 15px 0 0;
}

.booking-input {
  display: flex;
  flex-flow: row wrap;
}

.ant-card-body {
  padding: 0;
}

.card-dashboard {
  box-shadow: 0px 5px 8px 0px #f9f9f9;
}

.bookings-dashboard {
  color: #1890ff !important;
}
